<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>VetShop hinzufügen</title>
</head>
<body>
    <h2>VetShop hinzufügen</h2>
    <form action="/add_vetshop" method="post">
        <label>Name: <input type="text" name="vetshop_name"></label><br>
        <label>Straße: <input type="text" name="vetshop_street"></label><br>
        <label>Hausnummer: <input type="text" name="vetshop_streetnr"></label><br>
        <label>PLZ: <input type="number" name="vetshop_postal_code"></label><br>
        <label>Stadt: <input type="text" name="vetshop_town"></label><br>
        <label>Gebiet: <input type="text" name="vetshop_area"></label><br>
        <label>Vorwahl: <input type="text" name="vetshop_areac"></label><br>
        <label>Land: <input type="text" name="vetshop_country"></label><br>
        <label>Startdatum: <input type="date" name="vetshop_start"></label><br><br>
        <button type="submit">VetShop speichern</button>
    </form>
</body>
</html>
