<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Shop hinzufügen</title>
</head>
<body>
    <h2>Shop hinzufügen</h2>
    <form action="/add_shop" method="post">
        <label>Shopname: <input type="text" name="shopname"></label><br>
        <label>Vorname: <input type="text" name="shopfname"></label><br>
        <label>Nachname: <input type="text" name="shoplname"></label><br>
        <label>Straße: <input type="text" name="shopstreet"></label><br>
        <label>Hausnummer: <input type="text" name="shopstreetnr"></label><br>
        <label>PLZ: <input type="number" name="shoppostal_code"></label><br>
        <label>Stadt: <input type="text" name="shoptown"></label><br>
        <label>Gebiet: <input type="text" name="shoparea"></label><br>
        <label>Vorwahl: <input type="text" name="shopareac"></label><br>
        <label>Land: <input type="text" name="shopcountry"></label><br>
        <label>Startdatum: <input type="date" name="shopstart"></label><br>
        <label>Inhalt: <input type="text" name="shopcontent"></label><br>
        <label>Kategorien: <input type="text" name="shopcategories"></label><br><br>
        <button type="submit">Shop speichern</button>
    </form>
</body>
</html>
